* {
  text-align: center;
  align-items: center;
  color: #fff;
  margin: 0;
  /* font-family: 'Montserrat'; */
}
body {
  background-color: #020825;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
}

h2 {
  font-size: 30px;
  line-height: 34px;
  /* padding: 25px 0px 5px 0px; */
  padding-bottom:30px;
}
.header {
  color: #85f2fd;
  line-height: 10px;
  font-size: 64px;
  padding: 20px 0px 20px 0px;
}
h3 {
  color: #ff99ff;
  font-size: 20px;
}
.container{
  padding-top:30px ;
}
h4 {
  font-weight: bold;
  font-style: normal;
  /* font-size: clamp(15px, 20px, 35px); */
}
.spex svg {
  width: 50px;
  padding-top: 15px;
}
.Tabs-container {
  width: 20vw;
  margin: auto;
  background-color: #020825;
  justify-content: center;
}

.Tab-item:hover {
  background: linear-gradient(to right, #241845, #000);
  transition: 0.2s ease-in-out;
  color: #020825;
  cursor: pointer;
  font-weight: 600;
}
.Tab-item-wellness:hover {
  background: linear-gradient(to right, #241845, #000);
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.whatsapp {
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 0;
  border: none;
  background-color: #020825;
  margin-top: 2px;
}
.bg{
  display:flex;
  width:100%;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
  padding: 0;
  border: none;
  margin-top: 2px;
  background-color: #2a2f45;
  padding: 15px;
  padding-top:10px;
  padding-bottom:15px;
  border-radius: 10px;
}
.bg:hover {
  background: linear-gradient(to right, #241845, #000);
  transition: 0.2s ease-in-out;
  color: #020825;
  cursor: pointer;
  font-weight: 600;
}
.Tab-item {
  width: 100%;
  height: auto;
  background-color: #2a2f45;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.8s ease-in-out;
  /* padding: 10px 20px 10px 10px; */
  padding: 5px;
  padding-top:10px;
  padding-bottom:15px;
  font-weight: 400;
  font-size: 15px;
  /* text-transform: capitalize; */
}
.Tab-item-wellness {
  width: 100%;
  background-color: #2a2f45;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.8s ease-in-out;
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-transform: capitalize; */
}

.grid-right {
  justify-content: flex-start;
  display: flex;
  margin-left:-20px;
}
.grid-left {
  text-align: center;
  justify-self: center;
  justify-content: center;
  display: flex;
}
.bg * {
  width: 30px;
  height: 30px;
}
.scooter * {
  width: 30px;
  height: 30px;
}
.grid-left * {
  width: 30px;
  height: 30px;
}
.scooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .Tabs-container {
    width: 80vw;
    margin: auto;
  }

  h3 {
    margin-bottom: 30px;
    font-weight: lighter;
  }
  .Tab-item {
    width: 80vw;
  }
}
.shrink-container{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 0;
  border: none;
  background-color: #020825;
  margin-top: 2px;

}
.shrink{
  width:50%;
  display:flex;
  flex-direction: row;
  background-color: transparent;
  border:none;
}
.pxl svg{
  width:30px;
  height:30px;
}