* select{
    background: transparent;
    color:#fff;
}
* ::placeholder{
    color:#000;
}
.payment-container *{
    margin-right: 10px;
   
}
.Payment-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}