.main-pop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(2, 8, 37, 0.88);
  width: 100vw;
  height: 100vh;
}

.popup-main {
  width: 50vw;
  height: 70vh;
  margin: auto;
  margin-top: 15vh;
  background: #2a2f45;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}

.close {
  padding: 10px;
  background-color: #2a2f45;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-right: 30px;
}
.contacts {
  color: #000;
  background: linear-gradient(to right, #000000, #2e0958);
  margin: auto;
  font-size: clamp(1rem, 1.1rem, 3rem);
  letter-spacing: 2px;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 150px 0 150px;
  font-weight: 400;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
h4 {
  background-color: #2a2f45;
  border-radius: 20px;
}
.close-button {
  background: linear-gradient(to right, #b2fefa, #0ed2f7);
  color: #000;
  font-weight: 800;
  cursor: pointer;
}
h5 {
  background-color: transparent;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-bottom:2px solid gray;
}
h5:hover {
  border-bottom: #0ed2f7;
}
.spec {
  padding-top: 9vh;
}
.Button-container {
  font-size: large;
}
@media screen and (max-width: 1000px) {
  .popup-main {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .contacts {
    -webkit-animation: contacts 1.5s ease-in-out infinite both;
    animation: contacts 1.5s ease-in-out infinite both;
    margin: 20px;
  }

  @-webkit-keyframes contacts {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes contacts {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
}
