.main-connect{
    position: fixed;
    bottom:11vh;
    right: 4vw;
    height:auto;
    cursor:pointer;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.inerract{
    transition:all 2s ease-in-out;
}
.transit{
    min-height: 100px;
}
.transition{
    display:flex;
    flex-direction: row;
    justify-content:flex-start; 
}
.connection-btn{
    transition:all 1s ease-in-out;
    z-index:2;
}
.main-connect button{
    background-color: transparent;
    border:none;
    cursor:pointer;
    align-items: center;
    margin-left: 20px;
}
.chat-box{
    width:350px;
    max-width: 90vw;
    height:auto;
    /* min-height:200px; */
    padding-bottom: 25px;
    background-color: #fff;
    position:fixed;
    right:5vw;
    border-radius:20px;
    bottom:11vh;
    overflow:hidden;
    transition:all 1s ease-in-out;
    z-index: 10;
}

.logo-top-con{
    width:100%;
    height:auto;
    background-color: #1B254A;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:20px;
    margin-bottom:20px;
}
.logo-top-con h3{
    color:#fff;
    text-align: left;
    margin-bottom: 20px;
}
.icons-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
    padding-left: 0;
}
.message-wifi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logowrap{
    margin-top: -20px;
}
.nothing{
    border:none;
    background-color: transparent;
}
